<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>Akash Kumar</h1>
        <p>Computer Science Student | Backend Developer | Open Source Enthusiast</p>

        <h2>Projects</h2>
        <ul>
            <li>Banking App in C++</li>
            <li>Flask REST API</li>
            <li>Todo CLI App</li>
        </ul>

        <a href="/contact">Contact Me</a>
    </div>
</body>

</html>
